<h1>Pagina de contacto</h1>

<h3>Para poder comunicarte con nosotros hacelo a estos medios</h3>

<ul>
    <li>Telefono: 345346</li>
    <li>Whatsapp: +23142365246</li>
    <li>Mail: gdsde@gmail.com</li>
</ul>