<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h1>Bienvenido a la pagina de prueba con Node</h1>
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/galeria">Galeria</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/servicios">Servicios</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
